<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- This is an example of an application-wide init param.
    It's called a ServletContext init param. You can have as many
    init params as you want but there is only one servlet context;
    remember, all of these params are global to your app and can be
    accessed from any JSP page or servlet, which may not be what you
    want. If not, see below. -->
   
    

    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
